@import url('styles/inputs.css');
@import url('styles/card_input.css');
@import url('styles/card_info.css');
@import url('styles/header.css');
@import url('styles/footer.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #282829;
    color: #ffffff;
}

header,
footer {
    width: 100%;
    background-color: #222222;
}

header {
    margin-bottom: 10vh;
    background-color: #222222;
    border-bottom: 1px solid black;
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

button {
    padding: 0.7em 1.5em;
    background-color: #ffffff;
    color: #222222;
    border: none;
    border-radius: 2px;
    font-size: 1.5em;
    cursor: pointer;
    text-transform: uppercase;
}

button:hover:not([type='submit']) {
    background-color: #d5c9be;
}

button[type='submit']:hover {
    color: #d5c9be;
}

a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    color: #d5c9be;
    text-decoration: underline;
}

.home {
    font-size: 2.4em;
}

@media (max-width: 1200px) {
    .card__info-image {
        width: 30vw;
        height: auto;
    }
}

@media (max-width: 1100px) {
    .header__article h1 {
        font-size: 3em;
    }
    .header__article-description {
        font-size: 1.5em;
    }
    .header__article-list {
        display: flex;
        margin-bottom: 2em;
        row-gap: 1px;
    }
    .header__article-section {
        margin-left: 5vw;
    }
    .direction-column {
        display: flex;
        flex-direction: column;
    }
    .card__info-li {
        position: relative;
        padding-bottom: 30px;
        margin-bottom: 1px;
    }
    .card__info-p {
        font-size: 0.8em;
    }
    .card__leftImg {
        mask-image: linear-gradient(to left, transparent 0%, #282829 30%);
    }
    .card__rightImg {
        mask-image: linear-gradient(to right, transparent 0%, #282829 30%);
    }
    .card__info-image {
        width: 30vw;
        height: auto;
        object-fit: cover;
    }
    .card__input-form {
        max-width: 30em;
    }
}

@media (max-width: 860px) {
    .header__article h1 {
        font-size: 2em;
    }
    .header__article-description {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    button[type="submit"] {
        font-size: 1em;
    }
    .header__article-img {
        display: none;
    }
    .card__info-image {
        display: none;
    }
}
