.card__info {
    display: flex;
    justify-content: space-between;
    margin-inline: none;
    margin-bottom: 10vh;
    width: 100%;
    height: 50%;
    border-block: 1px solid black;
    object-fit: cover;
}

.card__info-image {
    width: 35vw;
}

.card__info-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 40px;
    margin: 53px;
}

.card__info-li {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 8px;
    list-style: none;
    padding-left: 4em;
}
.card__info-li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 25%;
    transform: translateY(-50%);
    width: 3em;
    height: 3em;
    background-image: url('../images/svg/something.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.card__info-li::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2px;
    width: 100%;
    background: #d5c9be;
    border-radius: 1px;
}

.card__info-btn {
}

@media (max-width: 480px) {
    .card__info-ul {
        text-align: center;
    }
}