.footer__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5em;
    width: 100%;
    height: 10vh;
    border-block: 2px solid #d5c9be;
}

.footer__ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-inline: 10% 11%;
    padding-block: 43px;
    gap: 50px;
    color: #d5c9be;
}

.footer__ul-social {
    display: flex;
    align-items: baseline;
    gap: 1rem;
}

.footer__ul-p {
    margin-top: 50px;
    text-align: center;
}

.order1 {
    order: 1;
}
.order2 {
    order: 2;
}
.order3 {
    order: 3;
}

@media (max-width: 480px) {
    .footer__ul {
        flex-direction: column;
        align-items: center;
    }
    .footer__ul-social {
        gap: 0;
    }
    .footer__ul-p {
        margin-top: 0;
    }
    .order1 {
        order: 3;
    }
    .order2 {
        order: 1;
    }
    .order3 {
        order: 2;
    }
}

@media (max-width: 360px) {
    .footer__nav {
        gap: 5%;
    }
}