label {
    cursor: pointer;
}

input:not(input[type='checkbox']) {
    padding-left: 2em;
    font-size: 1em;
}

/* Privacy policy */
input[type='checkbox'] {
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    width: 1.5em;
    height: 1.5em;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease;
}

input[type='checkbox']::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 10px;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
    top: 2px;
    left: 6px;
    transform: scale(0) rotate(45deg);
    transition: all 0.2s ease;
}

input[type='checkbox']:hover {
    border: 1px solid darkgray;
}

input[type='checkbox']:checked::before {
    transform: scale(1) rotate(45deg);
}

label[for='agree'] {
    cursor: pointer;
    user-select: none;
    transition: all 0.2s ease;
}
label[for='agree']:hover {
    text-decoration: underline;
}

/* user data */
input[name='user name'],
input[name='user email'] {
    width: 100%;
    height: 4em;
}

button[type='submit'] {
    width: 100%;
    height: 72px;
    background-color: #282829;
    color: #fff;
    font-size: 1.5em;
}
